<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Help Page</title>
  </head>
  <body>
      <h1 style="color:red">We are upgrading</h1>
      <footer>
          <p>Copy Right 2016</p>
      </footer>
  </body>
</html>
